.main-menu {
    width: 100%;
    z-index: 1000;
    padding-top: 24px;

    >.container {
        >.row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 2px solid var(--color-white);
            border-radius: var(--btn-radius);
            padding: 10px 25px;

            >.logo-column {
                width: 15%;

                >a {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    justify-content: center;

                    img {
                        object-fit: contain;
                        width: 100%;
                        max-width: 122px;
                        box-shadow: unset;
                    }
                }
            }

            >.main-menu-and-buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: center;
                width: 90%;
                gap: 16px;

                >.main-menu-column {
                    >.main-menu-list {
                        list-style-type: none;
                        display: flex;
                        justify-content: flex-end;
                        flex-flow: row nowrap;
                        align-items: center;
                        margin: 0;
                        padding: 0;

                        >li {
                            display: inline-block;
                            height: 100%;

                            &.has-sub-menu {
                                &:hover {
                                    .sub-menu {
                                        opacity: 1;
                                        visibility: visible;
                                        transform: translateY(0);
                                    }
                                }
                            }

                            >a {
                                padding: 10px;
                                font-size: 16px;
                                font-weight: 500;
                                color: var(--color-white);

                                .sub-menu-chevron {
                                    width: 12px;
                                    height: 12px;
                                    margin-left: 5px;
                                    position: relative;
                                    top: -1px;

                                    path {
                                        stroke: var(--color-white);
                                    }
                                }
                            }

                            >ul.sub-menu {
                                position: absolute;
                                list-style: none;
                                margin: 10px 0 0 0;
                                padding: 10px;
                                background: linear-gradient(110deg, rgba(18, 59, 147, 0.3) 0%, rgba(113, 147, 219, 0.3) 100%);
                                border-radius: var(--btn-radius);
                                border: 2px solid var(--color-white);
                                color: var(--color-white);
                                display: flex;
                                flex-flow: column nowrap;
                                gap: 5px;
                                z-index: 1001;
                                opacity: 0;
                                visibility: hidden;
                                transform: translateY(-10px);
                                transition: all 0.3s ease-in-out;

                                &:hover {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(0);
                                }

                                >li {
                                    >a {
                                        padding: 10px;
                                        font-size: 14px;
                                        font-weight: 500;
                                        color: var(--color-white);
                                    }
                                }
                            }
                        }
                    }
                }

                >.main-menu-buttons {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 16px;
                }
            }

            >.mobile-menu-button-container {
                display: none;
                border: unset;
                background-color: #0000;
                border-radius: 5px;
                padding: 2px;

                button {
                    border: unset;
                    background-color: #0000;
                    border-radius: 5px;
                    padding: 2px;
                    cursor: pointer;

                    svg {
                        font-size: 30px;
                        color: var(--color-white);
                    }
                }
            }

            >.mobile-top-menu-container {
                width: 100%;
                max-height: 0;
                overflow: hidden;
                gap: 15px;
                display: none;
                flex-flow: column nowrap;
                transition: max-height 0.3s ease-in-out;

                >.main-menu-list {
                    list-style: none;
                    margin: 0;
                    padding: 10px 0 0 0;
                    color: var(--color-white);

                    li {
                        a {
                            font-size: 14px;
                            padding: 5px 0;
                            display: inline-block;
                        }

                        &.has-sub-menu {
                            &.open-sub-menu {
                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                    }

                    svg {
                        width: 12px;
                        height: 12px;
                        margin-left: 5px;
                        position: relative;
                        top: -1px;
                    }

                    .sub-menu {
                        list-style: none;
                        margin: 0;
                        padding: 0 0 0 15px;
                    }
                }
            }

        }

    }

    @media screen and (max-width: 991px) {
        padding-top: 0;

        >.container {
            >.row {
                flex-flow: row wrap;
                width: 100%;
                margin-top: 10px;
                padding: 10px 15px;

                .main-menu-and-buttons {
                    display: none;
                }

                >.mobile-menu-button-container,
                >.mobile-top-menu-container {
                    display: flex;
                }

                >.logo-column {
                    width: 25%;

                    a {
                        align-items: flex-end;

                        >img {
                            max-width: 76px;
                            height: auto;
                        }
                    }
                }
            }
        }

        &.menu-open {
            >.container {
                >.row {
                    >.mobile-top-menu-container {
                        max-height: 500px;
                    }
                }
            }
        }

    }
}