.main-menu {
    position: fixed;
    width: 100%;
    z-index: 1000;

    >.container {
        >.row {
            background-color: var(--color-shade-2);
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 2px solid var(--btn-border-color);
            padding-left: 25px;
            padding-right: 25px;
            margin-top: 25px;

            >.mobile-menu-column {
                display: none;
            }

            >.logo-column {
                width: 10%;

                >a {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-height: 65px;
                        overflow: hidden;
                    }
                }
            }

            >.main-menu-and-buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: center;
                width: 90%;
                gap: 16px;

                >.main-menu-column {
                    >.main-menu-list {
                        list-style-type: none;
                        display: flex;
                        justify-content: flex-end;
                        flex-flow: row nowrap;
                        align-items: center;
                        margin: 0;
                        padding: 0;

                        >li {
                            >a {
                                padding: 10px;
                                font-size: 14px;
                            }
                        }
                    }
                }

                >.main-menu-buttons {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 16px;
                }
            }
        }
    }
}