.hero-section {
    background-color: var(--color-primary);

    >.container {
        padding-right: 0;

        >.row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 48px;

            >.col {

                /* If the next column with a class is not present then the width of the first column should be full width */
                &:not(:has(+ .col-with-bg)) {
                    flex: 1 1 100%;
                }

                &:first-child {
                    padding: 160px 0 100px;

                    .title {
                        color: var(--color-white);
                    }

                    .subtitle {
                        color: var(--color-white);
                        font-size: 20px;
                        font-weight: 300;
                    }
                }

                &.col-with-bg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    min-height: 90vh
                }
            }


        }
    }
}

@media screen and (max-width: 991px) {
    .hero-section {
        padding: 140px 0 60px;

        >.container {
            >.row {
                flex-flow: column nowrap;
                gap: 40px;

                >.col {
                    width: 100%;
                    flex: 1 1 100%;
                }
            }
        }
    }
}