.hero-section {
    background-color: var(--color-primary);

    >.container {
        padding: 0;

        >.row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            >.col {
                width: 50%;

                /* If there is only one column, it will have the full width of the container */
                &:only-child {
                    width: 100%;
                    padding-top: 160px;
                    padding-bottom: 100px;

                    .hero-text-container {
                        &.center-text {
                            max-width: 768px;
                            margin: 0 auto;
                            text-align: center;

                            .buttons {
                                justify-content: center;
                            }
                        }
                    }
                }

                &:first-child {
                    padding-left: var(--container-padding);
                    padding-right: var(--container-padding);

                    .title {
                        color: var(--color-white);
                    }

                    .subtitle {
                        color: var(--color-white);
                        font-size: 20px;
                        font-weight: 300;
                    }
                }

                &.col-with-bg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    min-height: 90vh;
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .hero-section {
        padding: 140px 0 60px;

        >.container {
            >.row {
                flex-flow: column nowrap;
                gap: 40px;

                >.col {
                    width: 100%;
                    flex: 1 1 100%;
                }
            }
        }
    }
}