.columns-with-top-image-text-component {
    .buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 32px auto 0;
        max-width: fit-content;
    }

    .columns-with-top-image-text {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;

        >.column {
            text-align: center;
            width: calc(33% - 32px);
            margin-bottom: 24px;

            >.top-image {
                width: 100%;
                border-radius: var(--btn-radius);
                margin-bottom: 24px;
            }

            >.icon-wrapper {
                svg {
                    font-size: 48px;
                    color: var(--color-white);
                    margin-bottom: 24px;
                }
            }

            >.title {
                margin-bottom: 16px;
                font-size: 32px;
            }

            >.description {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 991px) {
            >.column {
                width: calc(50% - 32px);


                >.description {
                    font-size: 16px;
                }
            }
        }

        @media screen and (max-width: 768px) {
            >.column {
                width: 100%;
            }
        }
    }
}