.columns-with-top-image-text {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;

    >.column {
        text-align: center;
        flex: 1 1 0;

        >.top-image {
            width: 100%;
            /* border: 2px solid var(--color-text); */
            border-radius: 16px;
            margin-bottom: 24px;
        }

        >.icon-wrapper {
            svg {
                font-size: 48px;
                color: var(--color-text);
                margin-bottom: 24px;
            }
        }

        >.title {
            margin-bottom: 16px;
            font-size: 32px;
            font-weight: 700;
        }

        >.description {
            font-size: 18px;
        }
    }
}