.equipment-by-process-list {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;

    .equipment-by-process-item {
        width: calc(50% - 16px);
        margin-bottom: 48px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding-left: 32px;
        gap: 8px;
        border-left: 2px solid var(--color-white);

        .equipment-by-process-icon {
            font-size: 48px;
            color: var(--color-white);
        }

        .equipment-by-process-title {
            margin-bottom: 8px;
            font-size: 40px;
            text-transform: capitalize;
        }

        .equipment-by-process-description {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 1200px) {
        .equipment-by-process-item {
            margin-bottom: 24px;

            .equipment-by-process-title {
                font-size: 32px;
            }

            .equipment-by-process-description {
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        gap: 16px;

        .equipment-by-process-item {
            width: 100%;
        }
    }
}