.left-side-column-and-four-items {
    >div {
        .item {
            border: 2px solid var(--color-white);
            border-right-width: 4px;
            border-bottom-width: 4px;
            border-radius: var(--btn-radius);
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;

            .column-text-container {
                padding: 24px 24px 32px;

                .subtitle {
                    font-size: 16px;
                }
            }

            .bottom-image-container {
                display: flex;

                img {
                    border-bottom-left-radius: var(--btn-radius);
                    border-bottom-right-radius: var(--btn-radius);
                    width: 100%;
                }

            }
        }

        &.items {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: stretch;
            gap: 32px;

            >.item {
                width: calc(33.33% - 32px);
            }

            @media screen and (max-width: 991px) {
                gap: 24px;

                >.item {
                    width: calc(50% - 24px);
                }
            }

            @media screen and (max-width: 576px) {

                >.item {
                    width: 100%;
                }
            }
        }
    }
}