    .production-capacity-section {
        >.container {
            >.row {
                display: flex;
                flex-flow: row nowrap;

                >.left-side-column {
                    width: 37.5%;

                    .title {
                        font-size: 46px;
                    }

                    .title,
                    .subtitle,
                    .small-title {
                        text-align: left;
                    }
                }

                >.right-side-column {
                    width: 62.5%;
                    display: flex;
                    flex-flow: row wrap;
                    gap: 32px;

                    >.production-statistic {
                        width: calc(50% - 16px);
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        padding: 32px;
                        gap: 8px;
                        border: 2px solid var(--color-text);
                        border-radius: 16px;

                        .number {
                            font-size: 80px;
                            font-family: "Inter", Arial, Helvetica Neue, Helvetica, sans-serif;
                            font-weight: 700;
                            line-height: 1;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            gap: 5px;

                            svg {
                                font-size: 60px;
                            }
                        }

                        .text {
                            font-size: 24px;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;

                        }
                    }
                }
            }
        }
    }