.three-columns-background-image {

    .columns-row {
        display: flex;
        flex-flow: row nowrap;
        gap: 32px;

        >.col {
            padding: 48px;
            width: 50%;
            border-radius: 16px;
            background-size: cover;
            background-position: 100% 20%;
            background-repeat: no-repeat;
            overflow: hidden;
            position: relative;

            &:nth-child(2),
            &:last-child {
                width: 25%;
            }

            .column-text-container {
                padding: 0;

                >.text-area {
                    z-index: 1;
                    position: relative;

                    .icon-wrapper {
                        color: var(--color-white);
                        font-size: 48px;
                        margin-bottom: 16px;
                    }

                    >.small-title,
                    >.title,
                    >.subtitle {
                        color: var(--color-white);
                    }
                }
            }
        }
    }

}