.top-text-three-columns {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--color-background);

    >.container {
        >.row {
            &.columns-row {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                gap: 32px;

                >.col {
                    width: 31%;
                    border: 2px solid var(--color-text);
                    border-radius: 16px;

                    .background-image {
                        width: 100%;
                        height: 240px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border-top-left-radius: 16px;
                        border-top-right-radius: 16px;
                    }

                    .icon-container {
                        padding: 32px 32px 0 32px;
                        display: flex;
                        justify-content: flex-start;

                        .icon {
                            >svg {
                                font-size: 48px;
                                width: 48px;
                                height: 48px;
                                color: var(--color-text);
                            }
                        }

                        &+.column-text-container {
                            padding-top: 16px;

                            >.text-area {
                                .title {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }

                >.text-container {
                    padding: 32px;
                }
            }
        }
    }
}