.two-columns-with-text-section {
    padding: 112px 0;

    .row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 80px;

        .col {
            width: 50%;

            &.left-side-col {
                .bottom-image-container {
                    img {
                        border-radius: 16px;
                    }
                }
            }

            .top-text {
                margin-bottom: 24px;

                .subtitle {
                    text-align: left;

                    p {
                        margin-bottom: 16px;
                        font-size: 18px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.right-side-col {
                .top-text {
                    margin: 0;
                }
            }
        }
    }
}