.two-columns-with-text-section {
    padding: 112px 0;

    .row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 80px;

        .col {
            width: 50%;

            &.left-side-col {
                .bottom-image-container {
                    img {
                        border-radius: var(--btn-radius);
                    }
                }
            }

            .top-text {
                margin-bottom: 24px;

                .subtitle {
                    text-align: left;

                    p {
                        margin-bottom: 16px;
                        font-size: 18px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.right-side-col {
                .top-text {
                    margin: 0;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        padding: 40px 0;

        .row {
            gap: 32px;
        }
    }

    @media screen and (max-width: 991px) {
        .row {
            flex-flow: column-reverse wrap;

            .col {
                width: 100%;

                &.left-side-col {
                    .bottom-image-container {
                        img {
                            max-width: 640px;
                            margin: 0 auto;
                            display: block;
                        }
                    }
                }

                .top-text {

                    .subtitle {
                        margin-bottom: 0;

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {}
}