.about-page {

    .milestones-section {
        background-color: var(--color-background);
        padding: 112px 0;

        >.container {
            >.row {
                >.col {
                    >.top-text {

                        >.small-title,
                        >.title,
                        >.subtitle {
                            text-align: left;
                        }

                        >.buttons {
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .capabilities-section {
        padding: 112px 0;

        .column-text-container {
            padding: 0;

            >.text-area {
                margin-bottom: 0;

                .icon-wrapper {
                    display: none;
                }
            }
        }
    }

    .our-team-section {
        padding: 112px 0;

        >.container {
            >.row {
                display: flex;
                flex-flow: row nowrap;

                >.col {
                    width: 50%;

                    >.top-text {
                        margin-bottom: 0;

                        >.small-title,
                        >.title,
                        >.subtitle {
                            text-align: left;
                        }

                        >.buttons {
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .process-section {
        padding: 112px 0;

        .buttons-component {
            margin-top: 80px;
        }
    }

    .contracts-section {
        padding: 112px 0;

        >.container {
            .contracts-component {
                >.column {
                    >.top-text {

                        >.small-title,
                        >.title {
                            color: var(--color-white);
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {

        .our-team-section,
        .capabilities-section,
        .process-section,
        .contracts-section {
            padding: 40px 0;
        }
    }

    @media screen and (max-width: 991px) {
        .our-team-section {
            >.container {
                >.row {
                    flex-flow: column nowrap;
                    gap: 32px;

                    >.col {
                        width: 100%;

                        .top-text {
                            margin-left: 0;
                            margin-right: auto;
                        }

                        .description {
                            font-size: 16px;
                        }

                        .team-members {
                            >.row {
                                gap: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}