.about-page {

    .milestones-section {
        background-color: var(--color-background);
        padding: 112px 0;

        >.container {
            >.row {
                >.col {
                    >.top-text {

                        >.small-title,
                        >.title,
                        >.subtitle {
                            text-align: left;
                        }

                        >.buttons {
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .capabilities-section {
        padding: 112px 0;

        .column-text-container {
            >.text-area {
                margin-bottom: 0;

                .icon-wrapper {
                    display: none;
                }
            }
        }
    }

    .our-team-section {
        padding: 112px 0;

        >.container {
            >.row {
                display: flex;
                flex-flow: row nowrap;

                >.col {
                    width: 50%;

                    >.top-text {
                        margin-bottom: 0;

                        >.small-title,
                        >.title,
                        >.subtitle {
                            text-align: left;
                        }

                        >.buttons {
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .process-section {
        padding: 112px 0;

        .buttons-component {
            margin-top: 80px;
        }
    }

    .contracts-section {
        padding: 112px 0;

        >.container {
            .contracts-component {
                >.column {
                    >.top-text {

                        >.small-title,
                        >.title {
                            color: var(--color-white);
                        }
                    }
                }
            }
        }
    }
}