.contact-page-content {
    .contact-info-section {
        background-color: var(--color-background);
        padding: 112px 0;
    }

    .send-a-message-section {
        background-color: var(--color-white);
        padding: 112px 0;

        .top-text {
            margin-bottom: 48px;
        }
    }

    .facility-section {
        background-color: var(--color-background);
        padding: 112px 0;

        .top-text {
            margin-bottom: 48px;
        }
    }
}