.home-page {
    .capabilities-three-columns {
        background-color: var(--color-white);
    }

    .three-columns-background-image-section {
        padding: 112px 0;
    }

    .columns-with-image-section {
        padding: 112px 0;

        .top-text {

            .small-title,
            .title,
            .subtitle {
                color: var(--color-white);
            }
        }
    }

    .equipment-by-process-section {
        padding: 112px 0;

        .buttons-component {
            margin-top: 32px;
        }

    }
}