.about-manufacturing-capabilities-page {

    .workflow-section,
    .production-capacity-section,
    .equipment-section {
        background-color: var(--color-background);
        padding: 112px 0;
    }

    .equipment-section {
        background-color: var(--color-white);
    }
}