.about-manufacturing-capabilities-page {

    .workflow-section,
    .production-capacity-section,
    .equipment-section,
    .quality-section {
        padding: 112px 0;

        @media screen and (max-width: 1200px) {
            padding: 40px 0;
        }
    }

    .workflow-section {
        >.container {
            >.row {
                >.col {
                    >.top-text {
                        max-width: 991px;
                    }
                }
            }
        }

        .columns-with-top-image-text {
            .column {
                width: calc(50% - 32px);
                max-width: 500px;

                @media screen and (max-width: 991px) {
                    width: 100%;
                }
            }
        }
    }

    .core-fabrication-processes {
        .item-content {
            >h3 {
                margin-bottom: 10px;
            }
        }
    }

    .equipment-section {
        .text-area {
            .subtitle {
                margin-bottom: 0;
            }
        }
    }

    .quality-section {
        .two-columns-left-side-image-section {
            border: 2px solid var(--color-text);
            border-radius: 16px;

            .left-column-image {
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
            }

            .right-column {
                .top-text {
                    .title {
                        font-size: 48px;
                    }

                    .buttons {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}