.quality-and-compliance-page-content {

    .certifications-section {
        padding: 112px 0;

        .left-side-column-and-four-items {
            .item {
                border: unset;
            }

            .column-text-container {
                padding: 0;
            }

            .bottom-image-container {
                margin-top: 32px;

                img {
                    border-radius: var(--btn-radius);
                    border: 2px solid white;
                    border-right-width: 4px;
                    border-bottom-width: 4px;
                }
            }
        }
    }
}