.request-quote-page-content {
    padding: 112px 0;

    @media screen and (max-width: 1200px) {
        padding: 40px 0;
    }

    .top-text {
        text-align: left;
        margin: 0 auto 48px 0;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    >.container {
        >.row {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 80px;

            >.col {
                width: 100%;

                .three-columns-with-icon-component {
                    >.item>.content p {
                        font-size: 16px;
                    }

                    @media screen and (max-width: 768px) {
                        flex-flow: column;
                        align-items: center;

                        >.item {
                            width: 100%;
                        }
                    }
                }
            }

            &.form-row {
                margin-top: 80px;

                >.col {
                    width: 100%;
                }
            }
        }
    }
}