.request-quote-page-content {
    padding: 112px 0;

    .top-text {
        text-align: left;
        margin: 0 auto 48px 0;
    }

    >.container {
        >.row {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 80px;

            >.col {
                width: 50%;

                &.contact-methods {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: flex-start;
                    gap: 24px;

                    >div {
                        width: 50%;
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 16px;
                        color: var(--color-white);

                        >.icon {
                            font-size: 32px;
                            color: var(--color-secondary);
                        }

                        >.details {
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: flex-start;
                            gap: 8px;

                            .title {
                                font-size: 26px;
                            }

                            .phone-number {
                                text-decoration: underline;
                                transition: var(--animation-default);

                                &:hover {
                                    text-decoration: unset;
                                }
                            }

                            .directions {
                                align-self: flex-start;
                                margin-top: 8px;
                            }

                            p {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            &.form-row {
                margin-top: 80px;

                >.col {
                    width: 100%;
                }
            }
        }
    }
}