.hero-section {
    padding: 80px 0;

    >.container {
        >.row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;

            >.col {
                width: 50%;
            }
        }
    }
}